
<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Update Product</h4>
      </div>
      <div class="modal-body">
        <%= form_for product do |f| %>
        <%= f.text_field :description, class:"form-control" %><br>
        <%= f.text_field :image_url, class:"form-control" %><br>
        <%= f.text_field :store_url, class:"form-control" %><br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= f.submit "Save changes", class:"btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
