<%= render "layouts/topmenu" %>

<div class="row">
  <div class="col-sm-6 col-md-3 col-md-offset-4">
    <div class="form-group" id="search-bar">
      <form class="form-inline">
        <%= form_tag products_path, {method: 'get'} do %>
          <%= text_field_tag :search, params[:search], class:"form-control", placeholder:'Little Black Dress' %>
          <%= submit_tag "Search", name: nil, class:"btn btn-primary" %>
        <% end %>
      </form>
    </div>
  </div>
</div>

<% if @show != nil %>
  <div class="card" id="show-card">
    <div class="row">
      <div class="col-xs-6 text-xs-right">
        <%= image_tag @show.image_url %>
      </div>
      <div class="col-xs-6">
        <h3><%= @show.title %><br></h3>
        <span>Product count: <%= @products.count %></span></br>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
          Add new product
        </button>

        <!-- Add product Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Add new product</h4>
              </div>
              <div class="modal-body">
                <%= form_for @product, url: show_products_path do |f| %>
                  <%= f.text_field :description, placeholder: 'Product Description', class:"form-control" %><br>
                  <%= f.text_field :image_url, placeholder: 'Image url', class:"form-control" %><br>
                  <%= f.text_field :store_url, placeholder: 'Store url', class:"form-control" %><br>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <%= f.submit "Add Product", class:"btn btn-primary" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div id="products" class="transitions-enabled">
  <% @products.each do |product| %>
    <div class="box card card-default">
      <div class="image-button">
        <%= image_tag product.image_url, class:"img-thumbnail" %>
        <% if current_user %>
        <div class="dropdown">
          <button class="btn btn-primary-outline" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="octicon octicon-pencil"></span>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item" type="button" data-toggle="modal" data-target="#productModal">Edit</button>
            <button class="dropdown-item" type="button"><%= link_to "Delete", product_path(product), method: 'delete' %></button>
          </div>

          <%= render "edit" %>

        </div>
        <% end %>
      </div>
      <div class="card-body">
        <%= product.description %><br>

        <% if @show == nil %>
          <span id="show-on-index">Seen on: <b><%= link_to product.show.title, show_products_path(product.show_id) %></b></span><br>
        <% end %>

      </div>
      <p class="card-text"><small class="text-muted">Posted <%= time_ago_in_words(product.created_at) %></small></p>
    </div>
  <% end %>
</div>

<% if @products.count == 0 %>
  <p>There were no products posted yet.</p>
<% end %>
